:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;

  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --body-fs: 15px;
  --title-fs: 24px;
  --font-family: "Outfit", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --radius: 8px;
  --line-height: 1.5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture {
  display: block;
  width: 100%;
}
html {
  color-scheme: dark light;
}
body {
  min-height: 100svh;
  display: grid;
  place-content: center;
  background-color: var(--light-gray);
}
.qr-component {
  background-color: var(--white);
  max-width: 320px;
  min-height: 497px;
  border-radius: calc(var(--radius) * 2);
  padding: 1.25rem;
  text-align: center;
  -webkit-box-shadow: 8px 8px 30px -19px var(--grayish-blue);
  -moz-box-shadow: 8px 8px 30px -19px var(--grayish-blue);
  box-shadow: 8px 8px 30px -19px var(--grayish-blue);
  font-family: var(--font-family);
}
.qr-component__code {
  border-radius: var(--radius);
}
.qr-component__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}
.qr-component__title,
.qr-component__description {
  font-size: var(--body-fs);

  line-height: calc(var(--body-fs) * var(--line-height));
  width: 24.5ch;
}

.qr-component__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--title-fs);
  width: 19ch;
  line-height: calc(var(--body-fs) * var(--line-height) * 1.5);
  color: var(--dark-blue);
}
.qr-component__description {
  color: var(--grayish-blue);
  font-weight: var(--font-weight-normal);
}
img:hover {
  animation: shake 0.5s forwards;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
